* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

// 導覽列
nav {
    // #RGBA
    // 0-9 a-f
    // 00 透明
    // ff 顯示
    background: #25252588;
    padding: 30px 0;
    position: fixed;
    width: 100%;

    div {
        width: 1200px;
        margin: 0 auto;

        a {
            color: white;
            text-decoration: none;
            padding: 0 30px;
            transition: 0.5s;

            &:hover {
                color: deepskyblue;
            }
        }
    }
}

// 橫幅
#banner {
    width: 100%;
    height: 100vh;
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
}

// 圖片區域
#picture {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;

    div {
        height: 260px;
        
        &:nth-child(1) {
            background: deepskyblue;
            font-size: 42px;
            display: grid;
            align-items: center;
            text-align: center;
        }

        &:nth-child(2) {
            background-image: url(./img/d-beach-1.jpg);
            background-size: 100%;
        }

        &:nth-child(3) {
            background-image: url(./img/d-beach-2.jpg);
            background-size: 100%;
        }
    }
}